.findBox{
    position : absolute;
    width: 15vw;
    height : 28vh;
    transform : translateX(16vw);
    padding: 20px;
    margin-top: 2vh;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 1);
    
}

.findRes{
    overflow-y: scroll;
    height: 25vh;
    width: 100%;
    
}

.findArea{
    width: 80;
    padding: 8px;
    border: none;
    outline: none;
    color:black;
    background-color:transparent;
}

.userbt{
    background-color: rgb(110, 110, 110);
    border:none;
    outline:none;
}

.userbt:hover{
    background-color:rgb(200, 200, 200)
}

@media (max-width: 1200px){
    .findBox{
        transform: translateX(28vw);
        width:30vw;
    }
    .findArea{
        width:23vw;
    }
}
@media (max-width: 600px){
    .findBox{
        transform: translateX(17vw);
        width:35vw;
    }
    .findArea{
        width:25vw;
    }
}

