.setting{
    display: flex;
    flex-direction: row;
    width: 12vw;
    height: 5vh;
    align-items:center;
    border-top: 1px solid rgba(255, 255, 255, 1);
    padding-left:1vw;
    align-content:center;
    justify-content: space-between;
}

.setButton{
    margin-right:1vw;
    align-self: center;
    justify-self: center;
}

.setting .user-status{
    scale: 0.8;
}

.name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 5vw;
}

.popup {
    opacity: 0;
    visibility: hidden;
    transform: translate(0vw,85vh);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    position: absolute;
    top: 50px; 
    right: 10px; 
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 10px;
    z-index: 1000;
    cursor: pointer;
}

.popup.show {
    opacity: 1;
    visibility: visible;
    transform: translate(0vw,80vh);
    z-index: 1000;
}

.popup.show:hover{
    background-color:rgb(153, 190, 255);
    color:white;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.rotate-animation{
    animation: rotate 0.5s cubic-bezier(0.5, 1, 0.3, 1);
}

.setButton{
    margin-right:1vw;
}
@media (max-width: 1200px) {
    .setting{
        width: 24vw;
    }

    .popup.show{
        transform: translate(0vw,79vh);
    }
}

@media (max-width: 600px) {
    .setting {
        width: 13vw;
        justify-content: center;
    }
    .setting .name {
        display: none;
    }
    .setting .user-status{
        display: none;
    }

    .popup{
        width: 10vw;
    }

    .popup.show{
        transform: translate(2vw,79vh);
    }
    
}