.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('./assets/background.jpg');
    background-size: fill;
}

.loginBox {
    position: fixed;
    width: 40%;
    height: 50%;
    background-color: #3b3b3b;
    box-shadow: 0px 0px 10px 3px whitesmoke;
    transform: translate(75%, 50%);
    border-radius: 10px;
}

.loginBox .welcome {
    position: relative;
    color: white;
    width: 60%;
    text-align: center;
    padding-bottom: 2vh;
}

.loginBox .welcome .hello {
    font-size: x-large;
    font-weight: bold;
}

.loginBox .welcome .greet {
    font-size: large;
    font-weight: light;
    margin-top: -4%;
}

.loginBox .form {
    width: 60%;
    padding-left: 2vw;
}

.loginBox .form .input {
    padding-bottom: 5%;
}

.input input {
    outline: none;
    background-color: #0d0d0d;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    width: 19vw;
}

.formInput {
    width: 20vw;
    height: 4vh;
    color: white;
}

.loginButton {
    width: 21vw;
    height: 4vh;
    color: white;
    border-radius: 40px;
    background-color: #5865F2;
    border: none;
}

.loginBox .form .input .part {
    color: #b5bac1;
    font-size: small;
    font-weight: bold;
    padding-bottom: 1vh;
}

.loginBox .form .login {
    width: 85%;
    margin-top: 1vh;
}

.icon {
    width: 10vw;
    height:auto;
    transform: translate(26vw, -30vh);
}

.bottomline {
    display: flex;
    align-items: center;
    color: white;
}

a {
    color: blue;
}

.loginButton:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0);
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .loginBox {
        width: 70%;
        transform: translate(20%, 70%);
        height: 40%;
    }

    .loginBox .welcome .hello {
        font-size: 1.25rem;
    }

    .loginBox .welcome .greet {
        font-size: 0.875rem;
    }

    .loginBox .form .input .formInput {
        width: 35vw;
        height: 4vh;
    }

    .loginButton {
        width: 40vw;
    }

    .icon {
        width: 20vw;
        transform: translate(45vw, -30vh);
    }
}

@media (max-width: 480px) {
    .loginBox {
        min-width: 70%;
        padding: 1rem;
    }

    .loginBox .welcome {
        min-width: 70vw;
    }

    .loginBox .welcome .hello {
        font-size: 1rem;
    }

    .loginBox .welcome .greet {
        font-size: 0.75rem;
    }

    .loginBox .form {
        min-width: 50vw;
        margin-right: 2vw;
    }

    .loginBox .form .login {
        min-width: 65vw;
        height: 3vh;
    }

    .loginButton {
        width: 57vw;
    }

    .bottomline {
        padding-top: 1vh;
        color: #B5BAC1;
    }

    .loginBox .form .input .formInput {
        width: 50vw;
        height: 3vh;
    }

    .loginBox .icon {
        visibility: hidden;
    }
}
